/* The Artist
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Mucht!
 * started at 24/02/2016
 */

 $darkOrange : #E4552D;
 $blueGrey : rgba(179, 199, 230, 0.5);
 $blueGreyLegend : rgba(179, 199, 230, 0.8);
 $orange : #F89941;
 $black : #000;
 $white : #FFF;
 $grey : #ccc;
 $darkGrey : #686868;
