/* The Artist
*
* /sass/components/_biblio.scss - Non Esthetic style for biblio page
*
* coded by Mucht!
*/

.content{
    .row{
        &__book{
            &--cover{
                margin: 20px;
            }
            &--text{
                width: 50%;
                margin-top: 20px;
                .paragraphes{
                    margin-bottom: 1em;
                }
            }
        }
    }
}
