/* The Artist
*
* /sass/objects/_global.scss - Non Esthetic style for global
*
* coded by Mucht!
* started at 18/03/2016
*/

html{

}

body{
    margin-top: 46px;
}

.wrap, .content{
    width: 100%;
}

.section__title{
    margin-bottom: 0.3em;
}
