/* The Artist
*
* /sass/components/_footer.scss - Esthetic style for footer
*
* coded by Mucht!
*/

footer{
	text-align: center;
	padding: 5px 10px;
    font-family: $openSansStack;
	font-size: 0.8em;
	color: $grey;
}
