/* The Artist
 *
 * /sass/components/_header.scss - Esthetic style for header
 *
 * coded by Mucht!
 * started at 19/03/2016
 */
 h1{
 	font-family: $GaramondStack;
    color: $black;
 	text-align: center;
 	font-size: 5em;
 	padding: 60px 50px 40px 50px;
 	background-image: url(#{ $imgPath }Cover.jpg);
    background-size: cover;
 }
