/* The Artist
 *
 * /sass/components/_mainNav.scss - Esthetic style for mainNav
 *
 * coded by Mucht!
 * started at 24/02/2016
 */

 .nav{
 	z-index: 1000;
 	position: fixed;
 	top: 0;
 	left: 0;
 	border-bottom: 8px solid $darkOrange;
    .mainNav{
     	background-color: $black;
     	text-align: center;
        &__buttons:hover{
        	color: $orange;
        }
        &__buttons{
            display: inline-block;    ;
         	padding: 15px 20px;
         	color: #FFF;
         	transition: 0.1s ease-in;
            &--active{
                background-color: $darkOrange;
            }
            &--active:hover{
                color: $black;
            }
        }
    }
 }
